<h1 class="left">
  Publique o Livro aqui
</h1>

<div class="left">
  <form (submit)="publicarLivro()" [formGroup]="dataForm">
    <div class="form-group">
      <label for="titulo">Título do Livro</label>
      <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="Título do Livro" style="width: 450px">
    </div>
    <div class="form-group">
      <label for="autor">Autor do Livro</label>
      <input formControlName="autor" type="text" class="form-control" id="autor" placeholder="Autor do Livro" style="width: 450px">
    </div>
    <div class="form-group">
      <label for="numeroPaginas">Número de Páginas</label>
      <input formControlName="numeroPaginas" type="text" class="form-control" id="numeroPaginas" placeholder="Número de Páginas" style="width: 450px">
    </div>
    <div class="form-group">
      <label for="edicao">Edição</label>
      <input formControlName="edicao" type="text" class="form-control" id="edicao" placeholder="Edição" style="width: 450px">
    </div>

    <!--
      <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="width: 450px"></textarea>
    </div>
    -->
    <button type="submit" class="btn btn-primary mb-2" style="width: 125px">Publicar</button>
  </form>
  
  
</div>