<div class="container">
  <div class="row">

    <div class="col-12 text-center my-5">

      <h1 class="display-1">{{livro.titulo}}</h1>
      <p [routerLink]="['/livroPorAutor', livro.autor]" style="cursor: pointer;">{{livro.autor}}</p>

    </div>

  </div>

  <div class="row">

    <div style="margin: 0px 20px 0px 20px;">
      <div data-spy="scroll" data-target="#navbarVertical" data-offset="0">

        <div>
          <h4 id="item1">Sobre o Livro</h4>
            <p style="text-align: justify;" [innerText]="livro.resumoLivro">
            </p>
        </div>


      </div>
    </div>
  </div>
</div>

<h1 class="display-4" style="text-align: center; margin-top: 40px;">
  Livros de {{livro.autor}}
</h1>



<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor="let livro of livrosAutor">
      <div class="card" style="width: 18rem;" style="margin-top: 40px">
        <div class="card-body">
          <h5 class="card-title">{{livro.titulo}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
          <p class="card-text">{{livro.edicao}} - {{livro.numeroPaginas}} páginas</p>
          <a href="#" class="card-link">Ver livro</a>
          <a class="card-link"
            [routerLink]="['/alterarLivro', livro.id, livro.titulo, livro.autor, livro.numeroPaginas, livro.edicao]">Alterar</a>
          <a class="card-link" [routerLink]="['/excluirLivro', livro.id]">Excluir</a>
        </div>
      </div>
    </div>

  </div>
</div>