<h1 class="altura">Top Autores</h1>



<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor="let autor of autores" >
      <div class="card" style="margin-top: 40px; width: 19rem;">
        <img [src]="autor.imgAutor" class="card-img-top" alt="autor.nomeAutor"
          height="300px">
        <div class="card-body">
          <h5 class="card-title">
            {{autor.nomeAutor}} <span class="badge badge-primary badge-pill">{{autor.viewsAutor}} Views</span>
          </h5>
          <p class="card-text"  style="text-align: justify; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">
            {{autor.resumoAutor}}
          </p>
          <a class="btn btn-primary" [routerLink]="['/livroPorAutor', autor.nomeAutor]">{{autor.nomeAutor}}</a>
        </div>
      </div>
    </div>

  </div>
</div>
